* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#content {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 10px;
}
