* {
    box-sizing: border-box;
}

#tournament-form {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        text-align: center;
    }
    button {
        margin-top: 10px;
    }
    #tournament-form-name-field-helper {
        margin-top: 0.5rem;
    }
}

#join-field-group {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        text-align: center;
    }
    button {
        margin-top: 10px;
    }
}
