djangorestframework
django-cors-headers
asgiref
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
django-environ
django-two-factor-auth
phonenumbers
django-crispy-forms
twilio
django-otp-yubikey
pyotp
qrcode[pil]