{% extends "base.html" %}
{% block content %}

<div id="newContent">
    <h2>Setup Two Factor Authentication</h2>
    <div id="twoFactorContainer" class="borderedBox">
        <h3>How To:</h3>
        <ol>
			<li>If you already generated a QR Code, enter your <strong>OTP</strong> directly</li>
            <li>Generate QR Code</li>
            <li>Scan with Google Authenticator</li>
            <li>
                Enter One Time Password <strong>(OTP)</strong> from Google
                Authenticator
            </li>
            <li>Submit OTP</li>
        </ol>
        <button class="btn btn-primary" id="generateQRCode">
            Generate QR Code
        </button>
        <img id="qrcode" />
        <input type="text" id="otpInput" placeholder="Enter OTP" />
        <button class="btn btn-primary" id="validateOTP">Confirm</button>
    </div>
</div>

{% endblock %}
