<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Transcendence</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

  </head>
  <style>
	body {
	  background-color: #333;
	  color: white;
	}
	</style>
  <body>
	<div container="navbar">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a id="registerLink" class="btn btn-primary" role="button">Register</a>
				</li>
				<li class="nav-item" id="Container">
					<a id="loginLink" class="btn btn-primary" role="button">Login</a>
				</li>
			</ul>
		</nav>	
	</div>
	
    <main id="specialText" class="container" >
		{% block content %}{% endblock content %}
    </main>
	
	
	<script>	
	
		function loginButton(){
			const loginButton = document.getElementById("loginLink");
			if(loginButton){
				loginButton.addEventListener("click", function(event) {
					event.preventDefault();
					handleRoute(event, "/login/", "#loginFormContent");
			});	
		}
	}	

	function handleRoute(event, path, idOfContent) {
		event.preventDefault();
		if (window.location.pathname !== path) { //does this make sense????
			window.history.pushState({path: path}, '', path);
			updateContent(path, idOfContent);
		}
	}

	function updateContent(path, idOfContent) {
		fetch(path)
		  .then(response => response.text())
		  .then(html => {
			const parser = new DOMParser();
			const doc = parser.parseFromString(html, "text/html");
			const newContent = doc.querySelector(idOfContent); 
			const specialText = document.getElementById("specialText");
			specialText.innerHTML = ""; 
			specialText.appendChild(newContent);
			reattachEventListeners();
		  })
		  .catch(error => console.error('Error fetching content:', error));
	  };

	  function reattachEventListeners(){
		loginButton()
		Login()
		generateQRCode()
	}

	window.addEventListener('popstate', function(event) {
		if (event.state && event.state.path) {
			updateContent(event.state.path);
		}
	});


	reattachEventListeners();
});


function checkJWTToken(){
	const access_token = localStorage.getItem('access_token')
	if (access_token === null && isLoggedIn()){
		setLoginStatus('false')
		window.location.href = '/login/'
	}

}

function setLoginStatus(status){
	localStorage.setItem('loginStatus', status);
}

function isLoggedIn(){
	const loggedIn = localStorage.getItem('loginStatus');
	return loggedIn === 'true';
}

setInterval(checkJWTToken, 5000);
	

function getCookie(name) {
	let cookieValue = null;
	if (document.cookie && document.cookie !== "") {
		const cookies = document.cookie.split(";");
		for (let i = 0; i < cookies.length; i++) {
			const cookie = cookies[i].trim();
			if (cookie.substring(0, name.length + 1) === name + "=") {
				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				break;
			}
		}
	}
	return cookieValue;
}

async function getAccessToken(username, password, csrftoken) {
	try {
		const response = await fetch("/token/", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
				"X-CSRFToken": csrftoken,
			},
			body: JSON.stringify({ username, password }),
		});

		if (!response.ok) {
			throw new Error("Token failed");
		}
		const data = await response.json();
		localStorage.setItem("access_token", data.access);
		localStorage.setItem("refresh_token", data.refresh);
	} catch (error) {
		console.error("Token error:", error);
		alert("Token");
	}
}
//test if refresh token is null
async function refreshToken() {
	const refreshToken = localStorage.getItem("refresh_token");
	try {
		const response = await fetch("/token/refresh/", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({ refresh: refreshToken }),
		});

		if (!response.ok) {
			throw new Error("Token refresh failed");
		}
		const data = await response.json();
		localStorage.setItem("access_token", data.access);
	} catch (error) {
		console.error("Token refresh error:", error);
		alert("Token refresh failed. Please login again.");
		updateContent("content", '/login/');
	}
}

function Login() {
	const Login = document.getElementById("loginFormContent");
	if (Login) {
		Login.addEventListener("submit", async function(event) {
			event.preventDefault();
			const username = document.getElementById("username").value;
			const password = document.getElementById("password").value;
			const csrftoken = getCookie("csrftoken");

			try {
				const response = await fetch("/api/login/", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						"X-CSRFToken": csrftoken,
					},
					body: JSON.stringify({ username, password }),
				});
				if (!response.ok) throw new Error("Login failed");

				const twoFAResponse = await fetch("/api/get_2fa_status/", {
					method: "GET",
					headers: {
						"Content-Type": "application/json",
						"X-CSRFToken": csrftoken,
					},
				});
				if (!twoFAResponse.ok) throw new Error("Getting 2FA status failed");

				const twoFAResponseData = await twoFAResponse.json();
				console.log(twoFAResponseData.enable);
				if (twoFAResponseData.enable === true) {
					updateContent("/2FA/", '#twoFA');
					window.history.pushState({ path: '/2FA/' }, '', '/2FA/');
				}
				else{
					await getAccessToken(username, password, csrftoken);
					setLoginStatus('true');
					window.history.pushState({ path: '/test/' }, '', '/test/');
					updateContent("/test/", "#test");
				}
			} catch (error) {
				console.error("Login error:", error);
				alert("Login failed. Please try again.");
			}
		});
	} else {
		console.log("Login form not found");
	}
}


function setLoginStatus(status){
	localStorage.setItem('loginStatus', status);
}
//check if token is null, protect routes in backend if there is no token anymore
function isLoggedIn(){
	const loggedIn = localStorage.getItem('loginStatus');
	return loggedIn === 'true';
}

	</script>
	</body>
	</html>
	
	
