<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Transcendence</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

  </head>
  <style>
	body {
	  background-color: #333;
	  color: white;
	}
	</style>
  <body>
	{% include "navbar.html" %}
	
    <main id="oldContent">
		{% block content %}{% endblock content %}
    </main>
	
	
	<script>	
	
		function updateContent(path) {
			fetch(path)
			.then(response => {
				if (!response.ok) {
				  if (response.status === 401) {
					updateContent("/login/");
				  } else if (response.status === 403) {
					updateContent("/login/");
				  } else {
					throw new Error("Unexpected Error");
				  }
				}
				return response.text();
			  })
			  .then(html => {
				const parser = new DOMParser();
				const doc = parser.parseFromString(html, "text/html");
				const newContent = doc.querySelector("#newContent"); 
				const oldContent = document.getElementById("oldContent");
				oldContent.innerHTML = ""; 
				oldContent.appendChild(newContent);
				reattachEventListeners();
			  })
			  .catch(error => console.error('Error fetching content:', error));
		  };
		

		function handleRoute(event, path) {
			event.preventDefault();
			if (window.location.pathname !== path) {
				window.history.pushState({path: path}, '', path);
				updateContent(path);
			}
		}

		function reattachEventListeners(){
			loginButton()
			login()
			logout()
			generateQRCode()
			validateOTP()
			oauth()
			set_passwd()
		}

		function set_passwd(){
			const passwd = document.getElementById("passwordForm");
			if (passwd) {
				passwd.addEventListener("submit", function(event){
					event.preventDefault();
					const password = document.getElementById('password').value;
					const confirmPassword = document.getElementById('confirmPassword').value;
					if(password !== confirmPassword){
						alert("Passwords do not match! Try again!")
					}
					else{
						try{
							
						}
					}
				})
			}
		}


		window.onload = function() {
			const currentUrl = window.location.href
			if(currentUrl.includes('/set_'))
				fetch("/api/fetch_user_data")
				.then(response => response.json())
				.then(data => {
					if(data.error){
						console.log(data.error)
						return
						alert(data.error)
						window.history.pushState({ path: '/login/' }, '', '/login/');
						updateContent("/login/");
					}
					console.log("Getting User data successful")
				})
				.catch(error => {
					console.error('Error during fetch:', error);
				});
			};


		function oauth() {
			const registerButton = document.getElementById("register");
			if (registerButton) {
				registerButton.addEventListener("click", () => {
					fetch("/api/oauth/")
						.then(response => {
							if (!response.ok) {
								return response.text().then(text => {
									throw new Error(`Network response was not ok: ${response.statusText}\n${text}`);
								});
							}
							return response.json();
						})
						.then(data => {
							window.location.href = data.url;
						})
						.catch(error => {
							console.error('Error during fetch:', error);
						});
				});
			}
		}

		function logout() {
			const logoutButton = document.getElementById("logout");
			if (logoutButton) {
				logoutButton.addEventListener("click", async function(event) {
					event.preventDefault();
					const refreshToken = localStorage.getItem("refresh_token");
					const csrftoken = getCookie("csrftoken");
					try {
						const response = await fetch("/api/logout/", {
							method: "POST",
							headers: {
								"Content-Type": "application/json",
								"X-CSRFToken": csrftoken,
								'Cache-Control': 'no-cache'
							},
							body: JSON.stringify({ refresh_token: refreshToken })
						});
						if (!response.ok)
							throw new Error("Logout fail");
						localStorage.removeItem('access_token');
						localStorage.removeItem('refresh_token');
						setLoginStatus('false');
						window.history.pushState({ path: '/login/' }, '', '/login/');
						updateContent("/login/");
				
					} catch (error) {
						console.log("Error in logout", error);
					}
				});
			}
		}

		function login() {
			const Login = document.getElementById("loginFormContent");
			if (Login) {
				Login.addEventListener("submit", async function(event) {
					event.preventDefault();
					const username = document.getElementById("username").value;
					const password = document.getElementById("password").value;
					const csrftoken = getCookie("csrftoken");
	
					try {
						const response = await fetch("/api/login/", {
							method: "POST",
							headers: {
								"Content-Type": "application/json",
								"X-CSRFToken": csrftoken,
								'Cache-Control': 'no-cache'
							},
							body: JSON.stringify({ username, password }),
						});
						if (!response.ok) 
							throw new Error("Login failed");
						
						const twoFAResponse = await fetch("/api/get_2fa_status/", {
							method: "GET",
							headers: {
								"Content-Type": "application/json",
								"X-CSRFToken": csrftoken,
								'Cache-Control': 'no-cache'
							},
						});
						if (!twoFAResponse.ok)
							throw new Error("Getting 2FA status failed");
						const twoFAResponseData = await twoFAResponse.json();
						if (twoFAResponseData.enable === true) {
							window.history.pushState({ path: '/2FA/' }, '', '/2FA/');
							updateContent("/2FA/");
							await getAccessToken(username, password, csrftoken);
						}
						else{
							await getAccessToken(username, password, csrftoken);
							setLoginStatus('true');
							window.history.pushState({ path: '/home/' }, '', '/home/');
							updateContent("/home/");
						}
					} catch(error) {
						console.error("Login error:", error);
						alert("Login failed. Please try again.");
					}
				});
			}
		}



		
        function validateOTP() {
            const validateButton = document.getElementById("validateOTP");
            if (validateButton) {
                validateButton.addEventListener("click", function(event) {
                    event.preventDefault();
                    const otp = document.getElementById("otpInput").value;
					const csrftoken = getCookie("csrftoken");
                    fetch("/api/validateOTP/", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
							"X-CSRFToken": csrftoken,
							'Cache-Control': 'no-cache'
                        },
                        body: JSON.stringify({otp: otp })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.valid) {
							window.history.pushState({ path: '/home/' }, '', '/home/');
							updateContent("/home/");
                        } else {
                            alert("Validation failed: Invalid OTP");
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        alert("An error occurred while validating the OTP");
                    });
                });
            }
        }


		function generateQRCode() {
			const qrcodeButton = document.getElementById("generateQRCode");
			if (qrcodeButton) {
				qrcodeButton.addEventListener("click", function(event) {
					event.preventDefault();
					fetch("/api/setup-2fa", {
						method: "GET",
						headers: {
							"Content-Type": "application/json",
							'Cache-Control': 'no-cache'
						}
					})
					.then(response => {
						if (!response.ok) {
							throw new Error("Network response was not ok");
						}
						return response.text();
					})
					.then(responseText => {
						const data = JSON.parse(responseText);
						const qrCodeImg = document.getElementById("qrcode");
						qrCodeImg.src = "data:image/png;base64," + data.qr_code;
					})
					.catch(error => {
						console.log("Error:", error);
					});
				});
			}
		}
		

		function loginButton(){
			const loginButton = document.getElementById("loginLink");
			if(loginButton){
				loginButton.addEventListener("click", function(event) {
					event.preventDefault();
					handleRoute(event, "/login/");
			});	
		}
	}

		window.addEventListener('popstate', function(event) {
			if (event.state && event.state.path) {
				updateContent(event.state.path);
			}
		});


		
//need to call the logout endpoint

	document.addEventListener("DOMContentLoaded", function() {
		reattachEventListeners();
	});


	function checkJWTToken(){
		const access_token = localStorage.getItem('access_token')
		if (access_token === null && isLoggedIn()){
			setLoginStatus('false')
			window.history.pushState({ path: '/home/' }, '', '/home/');
			updateContent("/home/");
		}

	}

	function setLoginStatus(status){
		localStorage.setItem('loginStatus', status);
	}

	function isLoggedIn(){
		const loggedIn = localStorage.getItem('loginStatus');
		return loggedIn === 'true';
	}

	setInterval(checkJWTToken, 5000);
		

	function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + "=") {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    async function getAccessToken(username, password, csrftoken) {
        try {
            const response = await fetch("/token/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrftoken,
					'Cache-Control': 'no-cache'
                },
                body: JSON.stringify({ username, password }),
            });

            if (!response.ok) {
                throw new Error("Token failed");
            }
            const data = await response.json();
            localStorage.setItem("access_token", data.access);
            localStorage.setItem("refresh_token", data.refresh);
        } catch (error) {
            console.error("Token error:", error);
            alert("Token");
        }
    }
//test if refresh token is null
    async function refreshToken() {
        const refreshToken = localStorage.getItem("refresh_token");
        try {
            const response = await fetch("/token/refresh/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
					'Cache-Control': 'no-cache'
                },
                body: JSON.stringify({ refresh: refreshToken }),
            });

            if (!response.ok) {
                throw new Error("Token refresh failed");
            }
            const data = await response.json();
            localStorage.setItem("access_token", data.access);
        } catch (error) {
            console.error("Token refresh error:", error);
            alert("Token refresh failed. Please login again.");
			window.history.pushState({ path: '/home/' }, '', '/home/');
			updateContent("/home/");
		}
    }

	function setLoginStatus(status){
		localStorage.setItem('loginStatus', status);
	}
	//check if token is null, protect routes in backend if there is no token anymore
	function isLoggedIn(){
		const loggedIn = localStorage.getItem('loginStatus');
		return 
	}
	</script>
	</body>
	</html>
	
	
