
{% block chat %}


<style>
	
  
  </style>
  
  <input type="checkbox" id="check">
  <label class="chat-btn" for="check">
	  <i class="fa fa-commenting-o comment"></i>
	  <i class="fa fa-close close"></i>
  </label>
	<div class="wrapper" id="friendsList">
	  <div class="header">
		  <h6>Message a Friend</h6>
	  </div>
	  <div class="chat-form">
		  <ul class="friend-list" id="friendList">
		  </ul>
	  </div>
	</div>
  
	<div class="wrapper" id="chatRoom" style="display: none;">
		<div class="header">
			<h6 id="chat-header">Chat with <span id="friend-name"></span></h6>
		</div>
		<div class="chat-form">
			<textarea class="form-control" id="chat-text" rows="5" readonly></textarea>
			<input type="text" class="form-control chat-text" id="message" placeholder="Your Message">
			<button class="btn-chat btn-success btn-block" id="send">Send</button>
			<button class="btn-chat btn-success btn-block" id="leave">Back</button>
		</div>
	</div>
  
{% endblock chat %}
