{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="newContent">
	<h1 id="profile-name"></h1>
		<div class="form-group">
                <img id="profile-picture" alt="Profile picture" style="width: 150px; height: 180px;">
        </div>
		<div class="form-group">
			<label for="username">Username</label>
			<div class="input-group">
				<input type="text" class="form-control" id="profile-username" readonly>
			</div>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<div class="input-group">
				<input type="email" class="form-control" id="profile-email"  readonly>

			</div>
		</div>
		<div class="form-group">
			<label for="display_name">Display Name</label>
			<div class="input-group">
				<input type="text" class="form-control" id="profile-display_name" readonly>

			</div>
		</div>

	</br>
        </div>
</div>
{% endblock content %}