{% extends "base.html" %}

{% block content %}

<div id="newContent">
	<h2 id="profile-name"></h2>
	<div class="borderedBox">
		<img id="profile-picture" alt="Profile picture" style="width: 150px; height: 180px;">

		<label for="profile-username">Username</label>
		<input type="text" class="form-control input-text" id="profile-username" readonly>

		<label for="profile-email">Email</label>
		<input type="email" class="form-control input-text" id="profile-email" readonly>

		<label for="profile-display_name">Display Name</label>
		<input type="text" class="form-control input-text" id="profile-display_name" readonly>
	</div>

	<h2>Match History</h2>
	<div class="container borderedBox" id="matchHistory" alt="Match History of the User">
		<div class="History">
			<table class="table">
				<thead>
					<tr>
						<th>User</th>
						<th>Opponent</th>
						<th>Your Score</th>
						<th>Opponent's Score</th>
						<th>Win/Loss</th>
						<th>Date Played</th>
					</tr>
				</thead>
				<tbody id="historyMatch">
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock content %}