{% extends "base.html" %}

{% block content %}

<div id="newContent">
	<h1 id="profile-name"></h1>
		<div class="form-group">
                <img id="profile-picture" alt="Profile picture" style="width: 150px; height: 180px;">
        </div>
		<div class="form-group">
			<label for="username">Username</label>
			<div class="input-group">
				<input type="text" class="form-control" id="profile-username" readonly>
			</div>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<div class="input-group">
				<input type="email" class="form-control" id="profile-email"  readonly>

			</div>
		</div>
		<div class="form-group">
			<label for="display_name">Display Name</label>
			<div class="input-group">
				<input type="text" class="form-control" id="profile-display_name" readonly>

			</div>
		</div>

		<div class="container" id="matchHistory" alt="Match History of the User">
			<h1>Game History</h1>
			<div class="History">
				<table>
					<thead scope="col">
						<tr>
							<th>User</th>
							<th>Opponent</th>
							<th>Your Score</th>
							<th>Opponent's Score</th>
							<th>Win/Loss</th>
							<th>Date Played</th>
						</tr>
					</thead>
					<tbody id="historyMatch">
					</tbody>
				</table>
			</div>
		</div>
</div>



{% endblock content %}