{% extends "base.html" %}

{% block title %}
Pong Game
{% endblock %}

{% block content %}

</head>
<body>
<div id="newContent">

    <h2>Advanced Stats</h2>
    <div class="container borderedBox">
        <div>
            <button class="btn btn-primary" id="pieChart">Win/Loss </button>
            <button class="btn btn-primary" id="lineChartAvg">Average Rally</button>
            <button class="btn btn-primary" id="lineChartMax">Longest Rally</button>
            <button class="btn btn-primary" id="lineChartMin">Shortest Rally</button>
            <button class="btn btn-outline-secondary" id="hideAdvancedStats">Hide</button>
        </div>
        <div id="chart-container">
            <img id="chart" src=""/>
        </div>
    </div>

    <h2>Match History</h1>
    <div class="container borderedBox" id="History" alt="Match History of the User">
        <div class="history" id="history">
            <table class="table">
                <thead scope="col">
                    <tr>
                        <th>Opponent</th>
                        <th>Your Score</th>
                        <th>Opponent's Score</th>
                        <th>Win/Loss</th>
                        <th>Date Played</th>
                    </tr>
                </thead>
                <tbody id="history-body">
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
