{% extends "base.html" %}

{% block title %}
Pong Game
{% endblock %}

{% block content %}

</head>
<body>
<div id="newContent">
	<div class="container borderedBox" id="History" alt="Match History of the User">
	    <h1>Your Pong Game Match History</h1>
	    <div class="history" id="history">
	        <table>
	            <thead scope="col">
	                <tr>
	                    <th>Opponent</th>
	                    <th>Your Score</th>
	                    <th>Opponent's Score</th>
						<th>Win/Loss</th>
	                    <th>Date Played</th>
	                </tr>
	            </thead>
	            <tbody id="history-body">
	            </tbody>
	        </table>
	    </div>
		<div>
            <button class="btn btn-primary"  id="pieChart">Win/Loss </button>
            <button class="btn btn-primary"  id="lineChartAvg">Average Rally</button>
            <button class="btn btn-primary"  id="lineChartMax">Longest Rally</button>
            <button class="btn btn-primary"  id="lineChartMin">Shortest Rally</button>

			<div id="stat-result"></div>

            <div id="chart-container">
                <img id="chart" src=""/>
            </div>

		</div>

	</div>
</div>
{% endblock %}
