{% extends 'base.html' %}
{% load static %}
{% block title %}
  Pong Game
{% endblock %}
{% block content %}
  <div id="newContent">
    <h2>Multiplayer Game</h2>
    <form class="borderedBox" id="myForm">
      <label for="ballSpeed" id="labelBallSpeed">Ball Speed:</label>
      <input id="ballSpeed" type="number" max="12" min="4" value="8" required />

      <label for="maxScore" id="labelMaxScore">Max Score:</label>
      <input id="maxScore" type="number" max="12" min="4" value="8" required />

      <label for="background" id="labelBackground">Background Color:</label>
      <input id="background" type="color" value="#ffffff" required />

      <label for="borders" id="labelBorders">Border Color:</label>
      <input id="borders" type="color" value="#0000ff" required />

      <label for="ballColor" id="labelBallColor">Ball Color:</label>
      <input id="ballColor" type="color" value="#0000ff" required />

      <label for="advancedMode" id="labelAdvancedMode">Advanced Mode:</label>
      <input id="advancedMode" type="checkbox" required />

      <label for="powerUps" id="labelPowerUps">Power Ups:</label>
      <input id="powerUps" type="checkbox" required />

      <p>Please enter values between 4 and 12 and leave no field empty!</p>
      <label for="room_name" id="labelRoomName" minlength="4" value="">Room Name:</label>
      <input id="room_name" type="text" />
      <input class="btn btn-primary" id="createMultiplayer" type="button" value="Join/Create Game" />
    </form>
    <div id="roomInfo" class="versus-screen" style="display: none">
      <p></p>
    </div>
    <div id="versusScreen" class="versus-screen" style="display: none">
      <div id="player1" class="player-name">Player1</div>
      <div class="versus-text">VS</div>
      <div id="player2" class="player-name">waiting...</div>
      <input class="btn btn-primary" id="startRemoteGame" type="button" value="Start Game" style="display: none" />
    </div>
    <div id="gameContainer" style="display: none;">
      <div class="player-wrapper">
        <div id="left_player" class="player-container player-left">Player1</div>
        <canvas id="board"></canvas>
        <div id="right_player" class="player-container player-right">Player2</div>
      </div>
      <div class="controls-container">
        <input class="btn btn-warning" id="resetRemoteGameButton" type="button" value="Reset Game" style="display: none" />
        <p>Control the player by using Up and Down arrow keys</p>
      </div>
    </div>
  </div>
{% endblock %}
