{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div id="newContent">
    <h2 id="profile-name"></h2>

      <form class="borderedBox" id="profileForm" method="POST" enctype="multipart/form-data">

          <img id="profile-picture" alt="Profile picture" style="width: 150px; height: 180px" />

          <label for="username">Username</label>
          <input type="text" class="form-control input-text" id="profile-username" readonly />

          <label for="email">Email</label>
          <input type="email" class="form-control input-text" id="profile-email" readonly />

          <label for="display_name">Display Name</label>
          <input type="text" class="form-control input-text" id="profile-display_name" />

          <label for="profile_picture">URL Profile Picture</label>
          <input type="text" class="form-control input-text" id="profile-picture_url" maxlength="2000" />

          <button type="submit" class="btn btn-primary" id="saveChangesButton">Save Changes</button>
      </form>

      <h2 >2-Factor Authentication</h2>
      <div id="2faForm" class="borderedBox">
        <div class="form-check">
          <label class="form-check-label" for="checkBox2FA">Activate/Deactivate</label>
          <input class="form-check-input" type="checkbox" value="" id="checkBox2FA" />
        </div>
      </div>

      <h2 >Change Password</h2>
      <form class="borderedBox" id="newPasswordForm" method="POST" enctype="multipart/form-data">

          <label for="password">Old Password:</label>
          <input type="password" class="form-control input-text" id="oldPassword" name="password" required />

          <label for="password">New Password:</label>
          <input type="password" class="form-control input-text" id="password" name="password" required />

          <label for="confirmPassword">Confirm New Password:</label>
          <input type="password" class="form-control input-text" id="confirmNewPasswd" name="confirmPassword" required />

        {% csrf_token %}
        <button type="submit" class="btn btn-primary" id="newPasswdButton">Set New Password</button>
      </form>
    </div>
  </div>
{% endblock %}
