{% extends "base.html" %}

{% block content %}
<div id="newContent">
	<h1>USER PROFILE</h1>
	<form id="profileForm" method="POST" enctype="multipart/form-data">
		<div class="form-group">
			<label for="username">Username</label>
			<div class="input-group">
				<input type="text" class="form-control" id="username" value="{{ user.username }}">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="button" id="editUsernameBtn">Edit</button>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<div class="input-group">
				<input type="email" class="form-control" id="email" value="{{ user.email }}">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="button" id="editEmailBtn">Edit</button>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary" id="saveChangesBtn">Save Changes</button>
	</form>
        </div>
</div>
{% endblock content %}