{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="newContent">
    <form id="passwordForm" method="POST">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <br><br>
		{% csrf_token %}
        <button type="button" id="setPasswd">Create</button>
    </form>
</div>
<script type="module" src="{% static "js/navbar/logging.js" %}"></script>
{% endblock content %}