<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tournament Game</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        {% load static %}
    </head>
    <body>
        <h1 style="text-align: center">Tournament Game</h1>

        <!-- used to update content in a SPA -->
        <div id="newContent">

            <form id="tournament-form">
                <div class="form-group">
                    <label></label>
                    <input
                        type="text"
                        class="form-control"
                        id="tournament-name-field"
                        placeholder="Enter Tournament Name"
                        aria-describedby="tournament-name-helper"
                    />
                    <small id="tournament-name-helper" class="form-text text-muted"
                        >Only a-z A-Z 0-9 _ - allowed
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

        <script src="{% static 'js/tournament/tournament.js' %}"></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
