{% extends 'base.html' %}
{% block content %}
  <div id="newContent">
    <h2>Welcome to <em>{{ lobby.name }},</em></h2>
    <h3 id="tournament-lobby-state">State: {{ lobby.state }}</h3>
    {% for participant in lobby.participants %}
      <div id="lobby-participants-list">{{ participant }}</div>
    {% endfor %}
    <textarea class="form-control" id="lobby-chat-log" readonly></textarea>
    <div class="borderedBox" class="chat-input-submit">
      <input class="form-control" id="lobby-chat-message-input" type="text" />
      <input class="btn btn-primary" id="lobby-chat-message-submit" type="button" value="Send" />
    </div>
    {{ lobby.name|json_script:'lobby_name' }}
  </div>
{% endblock %}
