<div id="roomInfo" class="versus-screen" style="display: none">
  <p></p>
</div>
<div id="versusScreen" class="versus-screen" style="display: none">
  <div id="player1" class="player-name">Player1</div>
  <div class="versus-text">VS</div>
  <div id="player2" class="player-name">waiting...</div>
  <button class="btn btn-primary" id="startTournamentMatch">Start Game</button>
</div>
<button class="btn btn-primary" id="backToTournamentLobby">Back To Lobby</button>
<div id="gameContainer" style="display: none;">
  <div class="player-wrapper">
    <div id="left_player" class="player-container player-left">Player1</div>
    <canvas id="board"></canvas>
    <div id="right_player" class="player-container player-right">Player2</div>
  </div>
  <div class="controls-container">
    <input id="resetRemoteGameButton" type="button" value="Reset Game" style="display: none" />
    <p>Control the player by using Up and Down arrow keys</p>
  </div>
</div>
