{% extends 'base.html' %}
{% block content %}

{% comment %} =============================    NEW_CONTENT    ===================== {% endcomment %}

  <div id="newContent">

{% comment %} =============================    HEADER BOX    ===================== {% endcomment %}

    <div id="lobby-header-box" class=borderedBox>
        <h2>Welcome to Tournament {{ lobby.name }}</h2>
    </div>

{% comment %} =============================    GAME / INFO BOX    ===================== {% endcomment %}

    <div id="lobby-game-info-box" class="borderedBox">
    <h3>Participants</h3>
        <table class="table" id="lobby-participants-list">
            <thead>
                <tr>
                    <th scope="col" >Participant</th>
                    <th scope="col" >Status</th>
                </tr>
            </thead>
            <tbody>
                {% comment %} tournament_participants.html {% endcomment %}
            </tbody>
        </table>
        <h3>Match Settings</h3>
        <table class="table table-striped" id="lobby-game-settings-list">
            {% comment %} tournament_game_settings.html {% endcomment %}
        </table>
    </div>


{% comment %} =============================    FOOTER BOX    ===================== {% endcomment %}
    
    <div class="borderedBox" id="lobby-footer-box">
        
        <div id="lobby-chat-box">
            <textarea class="form-control" id="lobby-chat-log" readonly></textarea>
            <div id="lobby-chat-input-box">
              <input class="form-control" id="lobby-chat-message-input" placeholder="Enter your message"  type="text" />
              <input class="btn btn-primary" id="lobby-chat-message-submit" type="button" value="Send" />
            </div>
        </div>

        <div id="lobby-controls-box">
            <div class="form-check form-switch" id="lobby-status-switch-box">
                <input class="form-check-input" type="checkbox" role="switch" name="readyState" id="lobby-status-switch" unchecked>
                <label class="form-check-label" for="lobby-status-switch">Set Ready</label>
            </div>
            <div id="lobby-advance-button-box">
                {% comment %} tournament_advance_button.html {% endcomment %}
            </div>
            <button class="btn btn-danger" id="lobby-leave-button">
                <i class="bi bi-arrow-return-left btn-sm"></i> Leave Lobby
            </button>
        </div>
    </div>

    {{ lobby.name|json_script:'lobby_name' }}


{% comment %} =============================    END NEW_CONTENT    ===================== {% endcomment %}
  </div>
{% endblock %}
