<table class="table" id="lobby-match-list-table">
    <thead>
        <tr>
            <th scope="col">Match ID</th>
            <th scope="col">Player Home</th>
            <th scope="col">Goals Home</th>
            <th scope="col">Goals Away</th>
            <th scope="col">Player Away</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for match in matches_list %}
        {% if match == next_match %}
        <tr class="table-warning">
        {% elif match.is_finished%}
            {% if match.player_home == tournament_user or match.player_away == tournament_user %}
                {% if match.get_winner == tournament_user %}
                <tr class="table-success">
                {% else %}
                <tr class="table-danger">
                {% endif %}
            {% endif %}
        {% else %}
        <tr> 
        {% endif %}
            <td>
                {{ match.name }}
            </td>
            <td>
                {{ match.player_home }}
            </td>
            <td>
                {{ match.goals_home }}
            </td>
            <td>
                {{ match.goals_away }}
            </td>
            <td>
                {{ match.player_away }}
            </td>
            <td>
                {% if match == next_match %}
                <button class="btn btn-success" id="lobby-join-match-button">Join</button>
                {% elif match.is_finished %}
                ✅
                {% else %}
                tba
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
