{% extends 'base.html' %}
{% block content %}
  <div id="newContent">
    <h2>Create Tournament</h2>
    <form class="borderedBox" id="tournament-hub-form">
      <label></label>
      <input type="text" class="form-control" id="tournament-form-name-field" placeholder="Enter Tournament Name" aria-describedby="tournament-form-name-field-helper" />
      <small id="tournament-form-name-field-helper" class="form-text text-muted">
        <strong>Note:</strong> [ A-Z ] [ a-z ] [ 0-9 ] [ ._ ]
        <em>must contain at least one letter, no spaces</em>
      </small>
      <button type="submit" form="tournament-form" id="tournamentCreateButton" class="btn btn-primary">Create</button>
    </form>

    <h2>Join Tournament</h2>
    <div class="borderedBox" id="tournament-hub-lobby-list">
    <button class="btn btn-secondary" id="hub-refresh-lobbies-button">
        <i class="bi bi-arrow-clockwise"></i> Refresh
    </button>
    <table class="table" id="hub-tournament-list-table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Participants</th>
                <th scope="col">Player Count</th>
                <th scope="col">State</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% include 'tournament_hub_list.html' with tournaments=tournaments max_participants=max_participants %}
        </tbody>
    </table>
    </div>
  </div>
  {% endblock %}
