:root {
    --COLOR-BODY-BACKGROUND: rgb(218, 218, 218, 1);
    --COLOR-BASE-BACKGROUND: white;
    --COLOR-BASE-FONT: black;
    --COLOR-BASE-ACCENT: #007bff;
    --COLOR-BASE-SHADOW: rgba(0, 0, 0, 0.5);
    --COLOR-STATUS-ONLINE: green;
    --COLOR-STATUS-OFFLINE: grey;
    --COLOR-CHAT-BUTTON: #007bff;
    --COLOR-CHAT-BUTTON-HOVER: #0056b3;
    --COLOR-CHAT-BUTTON-TEXT: #fff;
    --COLOR-CHAT-HEADER-BACKGROUND: #007bff;
    --COLOR-CHAT-HEADER-TEXT: #fff;
    --COLOR-CHAT-FORM-BACKGROUND: #f0f0f0;
    --FONT-SIZE-STATUS-TEXT: 12px;
    --FONT-SIZE-CHAT-ICON: 22px;
    --FONT-SIZE-CHAT-BUTTON: 18px;
    --FONT-SIZE-UNI: 16px;
    --COLOR-FRIEND-LIST-BORDER: #ccc;
    --COLOR-STATUS-TEXT: grey;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--COLOR-BODY-BACKGROUND);
    margin: 0;
    padding: 0;
}

#newContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; /* Full viewport width */
    min-height: calc(100% - 70px); /* Full viewport height minus navbar height */
    padding-top: 70px;
    padding-bottom: 35px;

    h1,
    h2,
    h3 {
        text-align: center;
    }

    .borderedBox {
        width: 75%; /* Adjust width as needed */
        padding: 20px;
        border: 1px solid var(--COLOR-BASE-ACCENT);
        border-radius: 5px;
        box-shadow: 0 0 10px var(--COLOR-BASE-SHADOW);
        display: flex;
        flex-direction: column; /* Flexbox column direction */
        justify-content: center; /* Center items vertically */
        align-items: center; /* Center items horizontally */
        background-color: var(--COLOR-BASE-BACKGROUND);

        input {
            margin-bottom: 5px;
            margin-top: 5px;
            text-align: center;
        }

        button {
            margin-top: 20px;
        }

        .form-control {
            border-radius: 5px;
            border: 1px solid var(--COLOR-BASE-FONT);
            box-shadow: 0 0 5px var(--COLOR-BASE-SHADOW);
        }

        .form-check {
            .form-check-input {
                border: 1px solid var(--COLOR-BASE-ACCENT);
                border-radius: 5px;
            }
        }
    }
}
