* { 
    box-sizing: border-box;
}

#newContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 70px); /* Full viewport height minus navbar height */
    width: 100%;  /* Full viewport width */
    padding-top: 70px; /* Add padding to account for the navbar */
}