* {
  box-sizing: border-box;
}

#newContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 70px); /* Full viewport height minus navbar height */
  width: 100%; /* Full viewport width */
  padding-top: 70px; /* Add padding to account for the navbar */
  .borderedBox {
    width: 400px; /* Adjust width as needed */
    padding: 20px;
    border: 1px solid #007bff; /* Blue border */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Flexbox column direction */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    background-color: #ffffff; /* White background */
    text-align: left;
    input {
      margin-bottom: 10px;
    }
    button {
      margin-top: 20px;
    }
  }
}
