  #History {
      text-align: center;
      margin-top: 20px;
	  
  	.history {
  	    display: block;
  	    margin-top: 20px;
  	}
  	table {
  	    width: 80%;
  	    border-collapse: collapse;
  	    margin: 0 auto;
  	}
  	table, th, td {
  	    border: 1px solid black;
  	}
  	th, td {
  	    padding: 10px;
  	    text-align: center;
  	}
  	th {
  	    background-color: #f2f2f2;
  	}
}