#board {
  background-color: black;
  border: 5px solid greenyellow;
  margin: 0 auto;
}
#myForm {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.versus-screen {
  width: 400px;
  margin: 50px auto;
  border: 2px solid #333;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .player-name {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .versus-text {
    font-size: 32px;
    margin-bottom: 20px;
  }
