#newContent {
  #newPasswordForm {
    input {
      text-align: left;
    }
  }
  #profileForm {
    input {
      text-align: left;
    }
  }
  #profile-picture{
	aspect-ratio: 1/1;
	border-radius: 10%;
  }
}
