#newContent {

/* =====================  TOP  ===================== */

    #lobby-header-box{

        #lobby-status-switch-box{
            input {
                border: solid 1px var(--COLOR-BASE-ACCENT);
            }
        }

        #lobby-participants-list {
            border: none;
            margin: 0;
            td,
            th {
                border: none;
            }
        }

        #lobby-chat-log-box {
            width: 100%;

            #lobby-chat-log {
                min-height: 100px;
                resize: none;
                margin: 0;
                padding-top :0;
                padding-bottom: 0;
                box-sizing: border-box;
            }
        }
    }

/* =====================  GAME BOX  ===================== */





/* =====================  BOTTOM  ===================== */

    #lobby-chat-input-box {
        width: 75%;
        position: fixed;
        bottom: 5px;
        display: flex;
        flex-direction: row;
        gap: 1%;
        input {
            text-align: left;
        }
        button {
            margin-bottom: 1%;
        }
    }

}
