#newContent {

/* =====================  TOP  ===================== */

    #lobby-header-box{
    }

/* =====================  Game / INFO BOX  ===================== */

    #lobby-game-info-box {
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
        #lobby-participants-list {
        }
        #lobby-game-settings-edit-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            #lobby-game-settings-host-form{
                display: grid;
                grid-template-columns: 2fr 1fr;
                gap: 10px;
                justify-content: center;
                align-items:center;
            }
        }
    }

/* =====================  BOTTOM  ===================== */

    #lobby-footer-box {
        padding: 10px;
        position: fixed;
        bottom: 10px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
        
        #lobby-chat-box{
            #lobby-chat-log-box {
                #lobby-chat-log {
                    min-height: 100px;
                    resize: none;
                    margin: 0;
                    padding-top :0;
                    padding-bottom: 0;
                    box-sizing: border-box;
                }
            }
            #lobby-chat-input-box {
                display: flex;
                flex-direction: row;
                gap: 1%;
                input {
                    text-align: left;
                }
            }
        }

        #lobby-controls-box{
            height:100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 10%;
            #lobby-status-switch-box{
                flex-direction: row;
                align-items: center;
                input {
                    border: solid 1px var(--COLOR-BASE-ACCENT);
                }
            }
        }
    }

}
